*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f0f2f5;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 500px;
    margin-top: 100px;
}

.para{
   
    height: 400px;
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;

}
.details{
    
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    


}

.btn{
    margin-top: 40px;
}
.inputfield{
    height: 50px;
    width: 364px;
    border-radius: 10px;
    padding-left: 14px;
    border: 0.25px solid rgb(215, 211, 211);
    font-size: 17px;


}

.login{
    height: 50px;
    width: 380px;
    border-radius: 10px;
    border: none;
    background-color: #0866ff;
    font-size: 20px;
    color: white;
    font-weight: 700;

    

}

.details a{
    font-size: 14px;
}

img{
    width: 321px;
    margin-left: -30px;
    padding-left: 70px;
}



.para p {
    font-size: 24px;
    padding-left: 70px;
}

.mainpara{
margin-top: -150px;
margin-left: 250px;

}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    height: 350px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: -200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.newbtn{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    margin-top: 20px;
    color: white;
    background-color: #42b72a;
    font-size: 17px;
    font-weight: 700;

    
}

.btn{
    border-top: 1px solid rgb(162, 156, 156);
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    
}

.pass{
    color:  #0866ff;
    text-decoration: none;
}

.login:hover{
    background-color: rgb(28, 28, 218);
    transition: 0.1s ease-in;
}

.newbtn:hover{
    background-color: #3f982e;
    transition: 0.1s ease-in;
}

